<div ng-controller="articleDetailCtrl">
    <p>新增Article</p>
    <div>
        <div>
            <span>标题名称</span>
            <input type="text" ng-model="newTitle">
        </div>
        <div>
            <span>类型</span><input type="text" ng-model="newType">
            <!-- <select ng-repeat="x for x in articleType" ng-model="newType"></select> -->
        </div>
        <div>
            <span>说明</span>
            <!-- <input type="text" ng-model="newIllurstate"> -->
        </div>
        <div>
            <span>跳转链接</span>
            <input type="text" name="" ng-model="newLink">
        </div>
        <div>
            <span>配图</span>
            <input type="file" name="pic" accept="image/png,image/gif" />
            <div>配图预览</div>
            <table>
                <tbody>
                    <tr>
                        <th>图片名</th>
                        <th>文件大小</th>
                        <th>进度</th>
                        <th>操作</th>
                        <th>操作</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" ng-click="msgSubmit()">立即上线</button>
            <button type="button">存为草稿</button>
            <button type="button">取消</button>
        </div>
    </div>
</div>