//#999=60%black
//#eee=93%
//#ddd=87%

//@black93: lighten(black,93%);
/******************color******************/

//@icon: "../img/task15-icon.png";
/******************img********************/

@white: #fff;
@black: #000;
@black70: lighten(black,70);
@black87: lighten(black,87);
@black93: lighten(black,93);
@blue48: fadeout(@blue,48%);
@blue: #29bde0;
@light-blue: #b9e9f5;
@orange: hsl(41,100%,50%);
@com-orange: lighten(@orange, 10%);
@vote-box-orange: desaturate(lighten(@orange, 25%),15%);
@card-orange: lighten(@orange, 40%);
@bg-green: #83b09a;
@num-red: hsl(350,90%,70%);//color

@icon: "../img/task5-icon.png";
@bg: "../img/bg.png" ;